@media screen and (min-width: 480px) {
  
/******************************
TWO COLUMN LAYOUT
*******************************/
  
  #primary {
    width: 60%;
    float: left;
    background-color: #ffffff;
    
  }
  
  #secondary {
    width: 30%;
    float: right;
    background-color: #ffffff;

  }
 

  .profile-photo {
    float: left;
    margin: 15px;    
  }


  #wrapper {
    display: block;
  }
}

